<div class="container">
    <div *ngFor="let mcu of mcus">
        <ul>
            <div> Nombre: {{mcu.nombre}} </div>
            <div style="text-align:start;">
                <div style="display:inline;"> Estado: </div>
                <div style="display:inline;" [ngStyle]="{'color': mcu.estado ? green : red }">
                    {{mcu.estado | encendidoApagado}}
                </div>
            </div>
            <div> Tiempo encendido:
                {{mcu.tiempo.getHours() | number: '2.0-0' }}:{{mcu.tiempo.getMinutes()
                | number:'2.0-0'}}:{{mcu.tiempo.getSeconds() | number: '2.0-0'}}
            </div>
            <div class="my-2">
                <button type="button" class="btn btn-success" (click)="setOnOff(true, mcu)">Prender</button>
                <button type="button" class="btn btn-danger mx-2" (click)="setOnOff(false, mcu)">Apagar</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="verHorarios(mcu)">Ver horarios de encendido y
                    apagado</button>
            </div>
        </ul>
    </div>
</div>