<div class="container">
    <div *ngFor="let mcu of mcus">
        <ul>
            <div> id: {{mcu.id}} </div>
            <div> nombre: {{mcu.nombre}} </div>
            <div> estado: {{mcu.estado | encendidoApagado}}</div>
            <div> Tiempo encendido: {{tiempo | date:"HH:mm"}}</div>
            <div>
                <button type="button" class="btn btn-success" (click)="setOnOff(true, mcu)">Prender</button>
                <button type="button" class="btn btn-danger" (click)="setOnOff(false, mcu)">Apagar</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="verHorarios(mcu)">Ver horarios de encendido y
                    apagado</button>
            </div>
        </ul>
    </div>
</div>